<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="CashTokens faucet on Bitcoin Cash">
  <meta name="web" content="https://cashtokensfaucet.onrender.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="CashTokens faucet on Bitcoin Cash">
	<meta property="og:description" content="CashTokens faucet on Bitcoin Cash">
	<meta property="og:image" content="">
  <title>CashTokens faucet on Bitcoin Cash</title>
  <link rel="icon" type="image/png" sizes="42x42" href="">
  <style>
    body {
      overflow-wrap: anywhere;
      text-align: center;
      max-width: 1000px;
      margin: auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: black;
      font-size: large;
      color: #FFFFFF;
    }
    p {
      font-size: medium;
    }
    a:link {
      color: teal;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    @media screen and (max-width: 500px) {
      p img {
		    max-width: 95%;
	    }
    }
  </style>
</head>
<body>
  <div>
    <h1>ZOMBIE horde faucet</h1>
    <p><img src="./img/bitcoin-cash-logo.png" alt="BCH" width="200"></p>
    <p><i>Discover the power of <a href="https://cashtokens.org">CashTokens</a> and <a href="https://cashscript.org">Cashscript</a><br>with ZOMBIE</i></p>
  </div>
  <br>
  <hr>
  <div>
    <h3>ZOMBIE distribution event - Walk With Us Part II</h3>
    <p>Token info:</p>
    <p>
      Name: <b>ZOMBIE</b><br>
      Symbol: <b>ZOMBIE</b><br>
      Decimals: 0<br>
      TokenId:<br><a href="https://explorer.salemkode.com/token/b3dd6dee4e783acd755d216dd39e34faae748c43927dcb82152b6c2affd57bab">b3dd6dee4e783acd755d216dd39e34faae748c43927dcb82152b6c2affd57bab</a>
    </p>
    <p><img src="./img/zombie_icon.png" width="200"></p>
    <p>For more information, please visit <a href="https://zombies.onuniverse.com">ZOMBIE</a> website.</p>
    <h3>Claim 5000 ZOMBIE</h3>
    <p>Tokens are distributed for free via TokenFaucet cashscript <a href="https://github.com/mazetoken/cashscriptcontracts">contract</a>.</p>
    <p>Contract <a href="https://explorer.salemkode.com/address/bitcoincash:p0uvy9m0sxz87gnlemlepsvs8dgt9lkjqm2f9u96ha22n2slj44p7l36rl5rx">address</a> (do not send anything there).</p>
    <p>Every 1 BCH block (about 10 minutes on average), only 1 person can claim ZOMBIE CashTokens.</p>
    <p>Total amount to be distributed: 1400000 ZOMBIE.</p>
  </div>
  <div>
    <p>
    <form class="input" action="/" method="post">
      <label for="userAddress" class="title">
        <p>Your Bitcoin Cash wallet address (cashtokens aware):</p>
      </label>
      <p><input type="text" name="userAddress" required="required" size="56" placeholder="bitcoincash:z..."></p>
      <p>Use Claim button below and wait a few seconds. Good luck.</p>
      <p><input type="submit" value="Claim"></p>
    </form>
    </p>
    <p><%= content %></p>
    <p><a href="https://explorer.salemkode.com/address/<%= txIds %>"><%= txIds %></a></p>
    <p><%= error %></p>
  </div>
  <br>
  <br>
  <div>
    <p>Consider donating a small amount of BCH to zombie food:<br>bitcoincash:qr8j9fzlmsdfy52n37pg2frqaddsjs99qyat9nwf88</p>
    <p><img src="./img/qrcode2.png" alt="qr2" width="200"></p>
  </div>
  <br>
  <hr>
  <footer>
    <p><a href="https://github.com/mazetoken/cashtokensfaucet"><img src="./img/githubwhite.png" alt="Github" width="36"></a> <a href="https://t.me/mazetokens"><img src="./img/telegram.png" alt="TelegramIcon" width="36"></a></p>
    <p>Maze Tokens Underworld, 2020-2024</p>
  </footer>
  <br>
  <script src="./server.js" type="application/octet-stream"></script>
</body>
</html>